html, body {
    margin: 0;
    padding: 0;
}

#original {
    position: absolute;
    top: 50px;
    left: 0;
    width: 375px;
    height: 375px;
    z-index: 1;
    touch-action: none;
}

#cropped {
    position: absolute;
    top: 450px;
    left: 0;
    z-index: 1;
}